header {
    color: #CC00FF;
    font-size: 100px;
}
.fantastic {
    color: #FFAB05;
    font-family: fantasy;
    font-size: 50px;
}

p > em {
    color: #FF00FF;
}
strong em{
    font-family: Arial;
    font-size: 120px;
}
.awesome .fantastic {
    color: blue;
}